@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?412kc6');
  src:  url('fonts/icomoon.eot?412kc6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?412kc6') format('truetype'),
    url('fonts/icomoon.woff?412kc6') format('woff'),
    url('fonts/icomoon.svg?412kc6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\1f33a";
}


.burger-button {

    display: none;
    position: sticky;
    font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 90%; 
 /*opacidad*/
  /*centrar un elemento*/
  line-height: 30px; /*centrar con el alto de linea*/
  text-align: center; centrar texto 
  position: fixed; /*que el elemento se integre y nos persigue */
  z-index: 4; /*pase por encima de todos*/
  left: 0px;
  top: 5px;
  color: white; /*para el color */
}


body{
    font-family: 'montserra', seri;
    background: #E0C4F7;
    margin-top: 0px;
    padding: 0px;
}


.hero{
          
            color: black;
            padding: 32px 15px
            display: grid;
            grid-template-columns: minmax(1fr, 104px);
            justify-content: center;

        }
        .hero-container{
            
            grid-template-columns: 70px ;
            grid-template-areas: "title form" 
                                 ;
            grid-gap: 10px;
        }
       
        .title{
             text-align: center;
            font-size: 36px;
            font-weight: normal;
          
            display: flex;
            flex-wrap: wrap;
            align-items: left;
        }
        .form{
            grid-area: form;
            text-align: center;
            background: rgba(255,255,255,.0);
            padding: 1.5em; /* 24 */
            border-radius: 10px;
        }
        .form input{ 

            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #7f4c9a;
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        .form p{
            font-size: 20px;
            color: #3a3b3f;
            margin-bottom: 1em;
        }
        .form button{
            background: #7f4c9a;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            border-bottom: 5px solid #472c61;
            display: inline-block;
        }
       
        }
        p{
            margin: 0;
        }
        @media screen and (max-width: 768px){
            .hero-container {
                grid-template-columns: 70px 1fr;
                 grid-template-areas:    
                                         " descripcion descripcion " 
                                         "form form"
                                          ;
            }

        }




*:focus {
    outline: none;
}
.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.titulo{
    /*
    border-bottom: 100px solid #E0C4F7;
*/}
.titulo .shape{
    background: #7f4c9a;
    padding: 1px 0px
    flex-wrap:wrap;
    
    max-width: 1199px;
    
}


.titulo .shape h2,.titulo .shape i{
    display: inline-block;
    margin: 0;

    
}
.titulo .shape i{
    margin-right: 10px;
    font-size: 20px;
}
.txt-titulo{
    position: absolute;
    right: 100px;
    top: 15px;
    font-size: 13px;
    color: #605f5f;
    
}
.producto{
    max-width: 280px;
    vertical-align: top;
    background: #fff;
    padding: 0px 0 0px 0;
    margin-right: 0px;
    border-radius: 0px;
}
.producto .contenedor-imagen{
    min-height: 220px;
    position: relative;
}
.producto .contenedor-imagen img{
    width: 100%;
}
.producto .contenedor-imagen .link{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}
.producto .contenedor-imagen .img-hover{

    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease-in-out 0.2s;
}
.producto:hover .img-hover{
    opacity: 1;
}
.producto .datos{
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
    padding: 20px;
}
.producto .datos h3{
    margin: 10px 0;
}
.producto .datos h3 a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
}
.producto .datos h3 a:hover{
    text-decoration: underline;
}
.producto .datos small a{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #5a5a5a;
    font-size: 11px;
}
.producto .datos small{
    font-size: 14px;
    text-transform: uppercase;
    color: #5a5a5a;
}
.producto .precios{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.producto .precios div{
  flex-grow: 1;
}
.producto .precios div small{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    color: #828282;
    font-weight: 600;
}
.producto .precios div.internet span{
    font-weight: bold;
    font-size: 23px;
    color: #ff0808;
}
.producto .precios div span{
    font-size: 17px;
    font-weight: 600;
}
.producto .btn-carrito{
    display: block;
    text-align: center;
    padding: 15px;
    background: #9751ff;
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    display: none;
    transition: all ease-in-out 0.3s;
}
.producto .btn-carrito:hover{
    transform: scale(1.05);
}
.producto:hover .btn-carrito{
    display: block;
}
.starrr {
    display: block; 
}
.starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; 
}
.slider{
    margin-top: 20px;
}
.slick-prev{
    font-size: 0;
    position: absolute;
    right: 55px;
    top: -64px;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background-image: url(https://dummyimage.com/20x20/ffffff/474747&text=%3C);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.slick-next{
    font-size: 0;
    position: absolute;
    right: 18px;
    top: -64px;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background: url(https://dummyimage.com/20x20/ffffff/474747&text=%3E);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.slick-next:hover, .slick-prev:hover{
    opacity: 0.8;
}

@media screen and (max-width: 650px){
    .txt-titulo{
        display: none;
    }
    .titulo .shape h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    .slick-next, .slick-prev{
        display: none !important;
    }
    .titulo .shape{
        padding: 10px 10px;
        max-width: 160px;
    }
  .producto{
    max-width: 100%;
  }
}

/** Header **/

.contenido-header{
max-width: 1
flex:1;
margin: 0 auto;
display: inherit;
justify-content: inherit;align-items: inherit;
height: inherit;
flex-wrap: wrap;


}
div.contenido-header {
    padding-top: 1px;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
div.contenido-header input{
    border: 1px solid #7f4c9a;
    height: 5px;
    padding: 20px 1px;
    display: inline-block;
    outline: none;
    color: #180224;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.2px;
    
    flex-wrap: wrap;

}


.logo {
    float: left;

    margin-top: -30px;
   
   
}

img.logotipo {
    width: 120px;
    flex-wrap: wrap;
}

nav ul {
    float: ;
    margin-right: 0px;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
   
}

nav ul li:last-child {
    margin-right: 24px;
}
  nav ul input{
   
  }
nav ul li a  {
    padding: 14px 0px 10px;
    display: block;
    outline: none;
    color: #180224;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.2px;
    margin-right: 17px;
    flex-wrap: wrap;
}

nav ul li a:hover {
    border-bottom: 8px solid #8a49ad;
}



@media screen and (max-width: 1024px){


}


@media screen and (max-width: 767px){
.div.contenido-header input{
    display: none;
    outline: none;
    width: 79px;
}
    .nav-wrapper{
        padding: 0px;
        position: fixed;
        background: rgba(127, 76, 154, .9);
        z-index: 3;
        top:0;
        left: -100vw;
        width: 300px;
        /*height: 100vh;*/
        bottom: 0;
        display: flex;
        
        justify-content: center;
        transition: .3s;


    }

    .nav-wrapper.is-active{
        left: 0;

    }
    nav ul li a{
        justify-content: center;
        margin-right: -27px;
        padding: 14px 40px 10px;
        height: 40px;
        font-size: 1.5em;
        
        margin-bottom: .5em;
    }
    .burger-button {
        display: block;
    }
.header{
    display: block;
    height: auto;
}
.header ul{
    display: block;
}
.header ul li{
    height: 50px;
   
}
.header a{
    justify-content: center;
}
.header .logo{
    text-align: center;
}
nav ul li a  {
 /*font-size: 10px;*/
}

}

@media screen and (max-width: 320px){
  .titulo .shape{
        
        padding: 0px 0px;
    }
.img.logotipo{
        width: 89px;

    }
}

@media screen and (max-width: 480px){
  .titulo .shape{
        
        padding: 0px 0px;
    }
.img.logotipo{
        width: 107px;
    }
}

@media screen and (max-width: 600px){

    .img.logotipo{
        width: 90px;
        
    }
    .titulo .shape{
        max-width: 100%
        padding: 0px 0px;
    }
}
@media screen and (max-width: 600px){
.titulo .shape {
    padding: 0px 0px;
    max-width: 100%;
}
}

@media screen and (max-width: 480px) {
    nav ul li a {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}



.hero-container a {
    cursor: pointer;
    text-decoration: none;
a:-webkit-any-link 
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: #0e21ff;
}
.contenedor-redes-sociales{
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    background: #7f4c9a;
}
h4{
    text-align: center;
}
.contenedor-redes-sociales a {
    position: relative;
    display: inline-block;
    height: 36px;
    width: 160px;
    line-height: 35px;
    padding: 0;
    color: #fff;
    border-radius: 50px;
    background: #fff;
    margin: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.contenedor-redes-sociales a:hover span.circulo {
    left: 100%;
    margin-left: -35px;
    background: #fff;
}

.contenedor-redes-sociales a:hover span.titulo {
    opacity: 0;
}

.contenedor-redes-sociales a:hover span.titulo-hover {
    opacity: 1;
    color: #fff;
}

.contenedor-redes-sociales a span.titulo-hover {
    opacity: 0;
}

.contenedor-redes-sociales a span.circulo {
    display: block;
    color: #fff;
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-radius: 50%;
}

.contenedor-redes-sociales a span.circulo i {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.contenedor-redes-sociales a span.titulo, .contenedor-redes-sociales a span.titulo-hover {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
}

.contenedor-redes-sociales a span.titulo {
    right: 15px
}

.contenedor-redes-sociales a span.titulo-hover {
    left: 15px
}


/*----------Colores de los botones----------*/

.contenedor-redes-sociales .facebook {
    border: 2px solid #3b5998;
}

.contenedor-redes-sociales .facebook:hover, .contenedor-redes-sociales .facebook span.circulo {
    background: #3b5998;
}

.contenedor-redes-sociales .facebook:hover span.circulo, .contenedor-redes-sociales .facebook span.titulo {
    color: #3b5998;
}

.contenedor-redes-sociales .twitter {
    border: 2px solid #1da1f2;
}

.contenedor-redes-sociales .twitter:hover, .contenedor-redes-sociales .twitter span.circulo {
    background: #1da1f2;
}

.contenedor-redes-sociales .twitter:hover span.circulo, .contenedor-redes-sociales .twitter span.titulo {
    color: #1da1f2;
}

.contenedor-redes-sociales .gplus {
    border: 2px solid #dd4b39;
}

.contenedor-redes-sociales .gplus:hover, .contenedor-redes-sociales .gplus span.circulo {
    background: #dd4b39;
}

.contenedor-redes-sociales .gplus:hover span.circulo, .contenedor-redes-sociales .gplus span.titulo {
    color: #dd4b39;
}


/*--------------Mediaqueries--------------*/

@media screen and (max-width: 480px) {
    .contenedor-redes-sociales a {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}